In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
from urllib2 import urlopen

pop_est_2014 = pd.read_csv(
    urlopen('http://www.census.gov/popest/data/counties/totals/2014/files/CO-EST2014-alldata.csv'),
    encoding='latin-1',
    dtype={'STATE': 'str', 'COUNTY': 'str', 'PLACE': 'str'}    
)

pop_est_2014

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RINTERNATIONALMIG2013,RINTERNATIONALMIG2014,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014
0,40,3,6,01,000,Alabama,Alabama,4779736,4780127,4785822,...,1.165832,1.157861,-0.020443,-0.168414,0.396416,0.420102,1.011941,1.001333,1.562247,1.577963
1,50,3,6,01,001,Alabama,Autauga County,54571,54571,54684,...,0.217533,0.199039,7.239062,-2.806268,-2.918570,2.334187,7.530079,-2.589008,-2.701037,2.533226
2,50,3,6,01,003,Alabama,Baldwin County,182265,182265,183216,...,1.471487,1.430905,14.554892,17.834091,21.989409,19.107379,15.890352,19.260182,23.460897,20.538283
3,50,3,6,01,005,Alabama,Barbour County,27457,27457,27336,...,-0.036936,0.037130,-4.765309,-2.389969,-7.017933,-2.227792,-4.618684,-2.426738,-7.054869,-2.190662
4,50,3,6,01,007,Alabama,Bibb County,22915,22919,22879,...,0.132926,0.133304,-5.611697,-4.980826,-6.734902,-0.355477,-5.567855,-4.980826,-6.601976,-0.222173
5,50,3,6,01,009,Alabama,Blount County,57322,57322,57344,...,0.190529,0.207902,1.773327,-1.143431,-1.714761,-1.975069,2.034110,-1.022158,-1.524232,-1.767167
6,50,3,6,01,011,Alabama,Bullock County,10914,10915,10886,...,1.226762,1.310309,-30.963783,-4.714313,-1.698594,11.979971,-29.476033,-3.488591,-0.471832,13.290280
7,50,3,6,01,013,Alabama,Butler County,20947,20946,20945,...,0.294855,0.295676,-14.079431,-11.683096,-5.307386,-0.049279,-13.791115,-11.391019,-5.012531,0.246396
8,50,3,6,01,015,Alabama,Calhoun County,118572,118586,118443,...,0.282279,0.266709,-6.147255,-4.544217,-5.500169,-4.052258,-5.918638,-4.178297,-5.217890,-3.785549
9,50,3,6,01,017,Alabama,Chambers County,34215,34170,34111,...,0.937564,0.937715,-2.730676,3.877164,3.281474,-2.578717,-1.820451,4.728966,4.219038,-1.641002
10,50,3,6,01,019,Alabama,Cherokee County,25989,25986,25968,...,0.191821,0.191747,6.302723,1.228643,5.754623,0.191747,6.494879,1.420618,5.946444,0.383494
11,50,3,6,01,021,Alabama,Chilton County,43643,43631,43682,...,0.365526,0.432965,-1.372511,-2.744174,0.342681,0.136726,-0.960758,-2.446889,0.708207,0.569690
12,50,3,6,01,023,Alabama,Choctaw County,13859,13858,13849,...,0.222585,0.224551,-15.517430,-0.736296,-8.309838,-1.347305,-15.298874,-0.515407,-8.087253,-1.122754
13,50,3,6,01,025,Alabama,Clarke County,25833,25840,25782,...,0.397346,0.399114,-6.228832,-17.612293,-0.198673,-8.461216,-5.878460,-17.257683,0.198673,-8.062102
14,50,3,6,01,027,Alabama,Clay County,13932,13932,13886,...,0.148307,0.147831,-10.739034,-13.263577,4.523377,5.913223,-10.666473,-13.189890,4.671684,6.061054
15,50,3,6,01,029,Alabama,Cleburne County,14972,14972,14969,...,0.000000,0.000000,-3.674506,-5.086164,6.146651,3.588398,-3.674506,-5.086164,6.146651,3.588398
16,50,3,6,01,031,Alabama,Coffee County,49948,49948,50179,...,3.154451,2.928171,0.377568,7.690643,-13.185995,-3.419475,2.484003,11.998190,-10.031545,-0.491304
17,50,3,6,01,033,Alabama,Colbert County,54428,54428,54505,...,0.605660,0.623613,-0.128513,1.101868,1.798627,1.760789,0.477336,1.689530,2.404287,2.384402
18,50,3,6,01,035,Alabama,Conecuh County,13228,13228,13219,...,0.000000,0.000000,-4.933212,-7.575178,-6.176891,-14.940551,-4.933212,-7.575178,-6.176891,-14.940551
19,50,3,6,01,037,Alabama,Coosa County,11539,11758,11757,...,0.089904,0.091112,-34.370806,-11.276360,-4.585094,-16.126828,-34.370806,-11.276360,-4.495190,-16.035716
20,50,3,6,01,039,Alabama,Covington County,37765,37765,37784,...,0.211475,0.211182,6.672557,-4.640249,0.555122,3.986062,6.857173,-4.455694,0.766597,4.197244
21,50,3,6,01,041,Alabama,Crenshaw County,13906,13906,13866,...,1.432049,1.503383,1.727862,4.088073,-1.432049,3.078355,3.023758,5.379043,0.000000,4.581737
22,50,3,6,01,043,Alabama,Cullman County,80406,80410,80454,...,0.508862,0.530628,-1.416950,-1.019799,4.145361,5.256923,-0.981921,-0.621829,4.654222,5.787551
23,50,3,6,01,045,Alabama,Dale County,50251,50251,50340,...,2.675852,2.335672,-10.814040,-5.179541,-15.316260,-11.919983,-9.698780,-0.577718,-12.640407,-9.584311
24,50,3,6,01,047,Alabama,Dallas County,43820,43820,43836,...,0.376732,0.381802,-15.667176,-11.293921,-16.976490,-9.640509,-15.414480,-11.015059,-16.599757,-9.258707
25,50,3,6,01,049,Alabama,DeKalb County,71109,71115,71118,...,1.029445,1.084820,0.280743,-9.304875,-1.903768,0.366303,1.333530,-8.461533,-0.874323,1.451123
26,50,3,6,01,051,Alabama,Elmore County,79303,79296,79444,...,0.508685,0.469759,3.236591,0.723305,1.277916,-1.322743,3.562759,1.421668,1.786600,-0.852984
27,50,3,6,01,053,Alabama,Escambia County,38319,38319,38312,...,0.158017,0.185122,-3.475579,-3.776059,-4.398151,-3.411525,-3.214258,-3.618723,-4.240134,-3.226404
28,50,3,6,01,055,Alabama,Etowah County,104430,104427,104501,...,0.604937,0.607249,-1.005694,2.089784,-1.910834,-1.831387,-0.469324,2.617023,-1.305897,-1.224138
29,50,3,6,01,057,Alabama,Fayette County,17241,17241,17247,...,0.118025,0.118403,-5.010341,-0.704556,-4.425954,0.355208,-4.952081,-0.645843,-4.307928,0.473611
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3163,50,2,3,55,131,Wisconsin,Washington County,131887,131885,131897,...,0.407045,0.421057,-0.795292,0.785682,-2.291512,1.646635,-0.409007,1.140750,-1.884467,2.067692
3164,50,2,3,55,133,Wisconsin,Waukesha County,389891,389938,390079,...,0.917918,0.920084,-0.768369,2.146999,0.124593,0.757866,0.064031,2.981802,1.042510,1.677950
3165,50,2,3,55,135,Wisconsin,Waupaca County,52410,52410,52417,...,0.249424,0.249334,3.073868,-2.261294,6.408289,-0.306872,3.302976,-2.031332,6.657713,-0.057539
3166,50,2,3,55,137,Wisconsin,Waushara County,24496,24496,24492,...,0.491733,0.494764,4.932534,-2.365078,-4.466572,-5.978395,5.340182,-1.957306,-3.974840,-5.483632
3167,50,2,3,55,139,Wisconsin,Winnebago County,166994,166994,167004,...,0.491133,0.495764,0.298898,2.998287,0.786996,-2.384388,0.741268,3.426613,1.278129,-1.888624
3168,50,2,3,55,141,Wisconsin,Wood County,74749,74749,74780,...,0.418077,0.433745,-4.056252,-4.967343,-7.080338,-5.774236,-3.708191,-4.591436,-6.662261,-5.340490
3169,40,4,8,56,000,Wyoming,Wyoming,563626,563767,564358,...,0.858535,0.830923,-0.362194,9.651174,4.547821,-4.577788,0.323325,10.610525,5.406356,-3.746865
3170,50,4,8,56,001,Wyoming,Albany County,36299,36299,36440,...,3.229379,3.210188,3.735362,2.611880,-3.362825,-3.475492,6.570965,5.412246,-0.133445,-0.265305
3171,50,4,8,56,003,Wyoming,Big Horn County,11668,11668,11674,...,-0.168180,-0.083556,4.867842,2.720741,17.827111,-8.522727,4.782442,2.550695,17.658930,-8.606283
3172,50,4,8,56,005,Wyoming,Campbell County,46133,46133,46223,...,0.582684,0.580131,-2.844429,15.621197,-5.701978,-7.811043,-2.413455,16.086869,-5.119294,-7.230913
3173,50,4,8,56,007,Wyoming,Carbon County,15885,15885,15835,...,0.254210,0.316006,-7.455849,-12.890117,3.431840,-2.591247,-7.266294,-12.699622,3.686050,-2.275241
3174,50,4,8,56,009,Wyoming,Converse County,13833,13833,13817,...,0.282476,0.281561,-12.928060,15.581605,19.067123,-20.976314,-12.782801,15.725879,19.349599,-20.694752
3175,50,4,8,56,011,Wyoming,Crook County,7083,7083,7108,...,0.419668,0.416493,-1.546138,-4.207574,1.119116,8.329863,-1.124464,-3.786816,1.538784,8.746356
3176,50,4,8,56,013,Wyoming,Fremont County,40123,40123,40224,...,0.170364,0.171243,2.771831,7.832195,-4.672840,-11.546694,2.969819,7.954573,-4.502476,-11.375451
3177,50,4,8,56,015,Wyoming,Goshen County,13249,13247,13411,...,0.733999,0.738225,14.510457,4.106475,-8.000587,-6.201093,15.102721,4.693114,-7.266588,-5.462867
3178,50,4,8,56,017,Wyoming,Hot Springs County,4812,4812,4804,...,2.061643,2.067825,3.328826,6.007872,2.473972,-5.376344,5.201290,7.872385,4.535615,-3.308519
3179,50,4,8,56,019,Wyoming,Johnson County,8569,8569,8568,...,0.580450,0.581564,5.001454,-3.945918,-0.928721,-8.956092,5.466705,-3.481692,-0.348270,-8.374527
3180,50,4,8,56,021,Wyoming,Laramie County,91738,91881,92199,...,1.351748,1.060269,-1.190438,15.566320,4.694442,-1.787905,-0.779195,18.041567,6.046190,-0.727636
3181,50,4,8,56,023,Wyoming,Lincoln County,18106,18106,18075,...,0.000000,0.054211,-9.811802,-11.578068,14.288867,5.529504,-9.811802,-11.578068,14.288867,5.583715
3182,50,4,8,56,025,Wyoming,Natrona County,75450,75450,75466,...,0.538075,0.528363,7.189792,23.120269,24.288458,0.233463,7.690181,23.636059,24.826533,0.761825
3183,50,4,8,56,027,Wyoming,Niobrara County,2484,2484,2491,...,0.000000,0.000000,-0.402010,1.209921,27.866242,-39.106145,-0.402010,1.209921,27.866242,-39.106145
3184,50,4,8,56,029,Wyoming,Park County,28205,28205,28262,...,1.311272,1.375918,4.618449,8.101690,7.626081,-9.390640,6.204939,9.323928,8.937352,-8.014722
3185,50,4,8,56,031,Wyoming,Platte County,8667,8667,8680,...,-0.228964,-0.228128,4.487917,5.506166,2.404121,6.615718,4.257768,5.276742,2.175157,6.387590
3186,50,4,8,56,033,Wyoming,Sheridan County,29116,29116,29148,...,1.110475,1.102425,0.958527,8.458886,4.509203,3.574531,2.122452,9.512000,5.619679,4.676956
3187,50,4,8,56,035,Wyoming,Sublette County,10247,10247,10231,...,2.536709,2.680699,-23.970921,15.385364,-40.684911,-16.580620,-21.514884,17.819758,-38.148202,-13.899921
3188,50,4,8,56,037,Wyoming,Sweetwater County,43806,43806,43599,...,0.199291,0.288200,1.072484,16.195058,-5.292294,-12.991188,1.300672,16.307213,-5.093003,-12.702987
3189,50,4,8,56,039,Wyoming,Teton County,21294,21294,21290,...,1.951042,2.030681,-1.589825,1.065160,19.283559,14.038186,0.935191,2.778678,21.234602,16.068867
3190,50,4,8,56,041,Wyoming,Uinta County,21118,21118,21103,...,-0.380771,-0.381543,-17.563065,-5.345297,-7.139457,-14.641707,-17.991433,-5.774829,-7.520228,-15.023250
3191,50,4,8,56,043,Wyoming,Washakie County,8533,8533,8541,...,-0.118406,0.000000,-11.642265,-0.946354,-1.776094,-16.813737,-11.995061,-1.064648,-1.894500,-16.813737
3192,50,4,8,56,045,Wyoming,Weston County,7208,7208,7169,...,-0.281591,-0.278649,-11.772125,-8.054829,13.093981,2.229188,-12.052414,-8.337455,12.812390,1.950540

In [6]:
from urllib2 import urlopen

sub_est_2012_df = pd.read_csv(
    urlopen('http://www.census.gov/popest/data/cities/totals/2012/files/SUB-EST2012.csv'),
    encoding='latin-1',
    dtype={'STATE': 'str', 'COUNTY': 'str', 'PLACE': 'str'} 
)
sub_est_2012_df

,SUMLEV,STATE,COUNTY,PLACE,COUSUB,CONCIT,NAME,STNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012
0,40,01,000,00000,0,0,Alabama,Alabama,4779736,4779745,4784762,4803689,4822023
1,162,01,000,00124,0,0,Abbeville city,Alabama,2688,2688,2682,2688,2654
2,162,01,000,00460,0,0,Adamsville city,Alabama,4522,4522,4518,4504,4490
3,162,01,000,00484,0,0,Addison town,Alabama,758,756,753,751,746
4,162,01,000,00676,0,0,Akron town,Alabama,356,356,355,345,344
5,162,01,000,00820,0,0,Alabaster city,Alabama,30352,30359,30460,30690,30991
6,162,01,000,00988,0,0,Albertville city,Alabama,21160,21128,21160,21378,21516
7,162,01,000,01132,0,0,Alexander City city,Alabama,14875,14875,14837,14832,14728
8,162,01,000,01228,0,0,Aliceville city,Alabama,2486,2478,2471,2429,2432
9,162,01,000,01396,0,0,Allgood town,Alabama,622,622,622,627,628
10,162,01,000,01660,0,0,Altoona town,Alabama,933,933,933,931,932
11,162,01,000,01708,0,0,Andalusia city,Alabama,9015,9015,9020,9099,9064
12,162,01,000,01756,0,0,Anderson town,Alabama,282,282,282,281,281
13,162,01,000,01852,0,0,Anniston city,Alabama,23106,23106,23055,22896,22749
14,162,01,000,02116,0,0,Arab city,Alabama,8050,8050,8066,8161,8237
15,162,01,000,02260,0,0,Ardmore town,Alabama,1194,1194,1203,1248,1278
16,162,01,000,02320,0,0,Argo town,Alabama,4071,4071,4080,4096,4131
17,162,01,000,02428,0,0,Ariton town,Alabama,764,762,763,756,761
18,162,01,000,02500,0,0,Arley town,Alabama,357,359,358,356,354
19,162,01,000,02836,0,0,Ashford town,Alabama,2148,2141,2144,2152,2169
20,162,01,000,02860,0,0,Ashland town,Alabama,2037,2037,2031,1984,1952
21,162,01,000,02908,0,0,Ashville city,Alabama,2212,2212,2219,2224,2234
22,162,01,000,02956,0,0,Athens city,Alabama,21897,21897,22029,22801,23469
23,162,01,000,03004,0,0,Atmore city,Alabama,10194,10194,10187,10153,10121
24,162,01,000,03028,0,0,Attalla city,Alabama,6048,6048,6044,6019,6010
25,162,01,000,03076,0,0,Auburn city,Alabama,53380,53496,53856,54872,56908
26,162,01,000,03220,0,0,Autaugaville town,Alabama,870,880,880,885,884
27,162,01,000,03364,0,0,Avon town,Alabama,543,543,544,543,544
28,162,01,000,03556,0,0,Babbie town,Alabama,603,603,603,609,607
29,162,01,000,03676,0,0,Baileyton town,Alabama,610,610,611,611,610
...,...,...,...,...,...,...,...,...,...,...,...,...,...
81601,50,56,035,00000,0,0,Sublette County,Wyoming,10247,10247,10230,10118,10368
81602,157,56,035,07060,0,0,Big Piney town,Wyoming,552,562,560,552,565
81603,157,56,035,50415,0,0,Marbleton town,Wyoming,1094,1082,1079,1062,1110
81604,157,56,035,61580,0,0,Pinedale town,Wyoming,2030,2030,2026,2000,2043
81605,157,56,035,99990,0,0,Balance of Sublette County,Wyoming,6571,6573,6565,6504,6650
81606,50,56,037,00000,0,0,Sweetwater County,Wyoming,43806,43806,43614,44078,45267
81607,157,56,037,04885,0,0,Bairoil town,Wyoming,106,106,105,106,108
81608,157,56,037,32870,0,0,Granger town,Wyoming,139,139,138,139,142
81609,157,56,037,33740,0,0,Green River city,Wyoming,12515,12515,12414,12475,12801
81610,157,56,037,67235,0,0,Rock Springs city,Wyoming,23036,23036,23008,23373,24047
81611,157,56,037,74775,0,0,Superior town,Wyoming,336,336,333,333,340
81612,157,56,037,81300,0,0,Wamsutter town,Wyoming,451,451,451,453,464
81613,157,56,037,99990,0,0,Balance of Sweetwater County,Wyoming,7223,7223,7165,7199,7365
81614,50,56,039,00000,0,0,Teton County,Wyoming,21294,21294,21289,21445,21675
81615,157,56,039,40120,0,0,Jackson town,Wyoming,9577,9604,9603,9690,9838
81616,157,56,039,99990,0,0,Balance of Teton County,Wyoming,11717,11690,11686,11755,11837
81617,50,56,041,00000,0,0,Uinta County,Wyoming,21118,21118,21101,20919,21025
81618,157,56,041,05625,0,0,Bear River town,Wyoming,518,519,518,519,521
81619,157,56,041,25620,0,0,Evanston city,Wyoming,12359,12387,12366,12216,12262
81620,157,56,041,48675,0,0,Lyman town,Wyoming,2115,2103,2100,2086,2094
81621,157,56,041,55345,0,0,Mountain View town,Wyoming,1286,1290,1293,1294,1314
81622,157,56,041,99990,0,0,Balance of Uinta County,Wyoming,4840,4819,4824,4804,4834
81623,50,56,043,00000,0,0,Washakie County,Wyoming,8533,8533,8542,8469,8464
81624,157,56,043,75790,0,0,Ten Sleep town,Wyoming,260,260,262,259,257
81625,157,56,043,84925,0,0,Worland city,Wyoming,5487,5487,5492,5446,5454
81626,157,56,043,99990,0,0,Balance of Washakie County,Wyoming,2786,2786,2788,2764,2753
81627,50,56,045,00000,0,0,Weston County,Wyoming,7208,7208,7172,7109,7082
81628,157,56,045,56215,0,0,Newcastle city,Wyoming,3532,3533,3517,3490,3478
81629,157,56,045,79125,0,0,Upton town,Wyoming,1100,1100,1095,1085,1083
81630,157,56,045,99990,0,0,Balance of Weston County,Wyoming,2576,2575,2560,2534,2521

In [7]:
sub_est_2012_df_by_state = sub_est_2012_df[sub_est_2012_df.SUMLEV == 40]
sub_est_2012_df_by_state

,SUMLEV,STATE,COUNTY,PLACE,COUSUB,CONCIT,NAME,STNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012
0,40,01,000,00000,0,0,Alabama,Alabama,4779736,4779745,4784762,4803689,4822023
1104,40,02,000,00000,0,0,Alaska,Alaska,710231,710231,714046,723860,731449
1451,40,04,000,00000,0,0,Arizona,Arizona,6392017,6392015,6410810,6467315,6553255
1672,40,05,000,00000,0,0,Arkansas,Arkansas,2915918,2915919,2922750,2938582,2949131
2847,40,06,000,00000,0,0,California,California,37253956,37253956,37334410,37683933,38041430
3924,40,08,000,00000,0,0,Colorado,Colorado,5029196,5029196,5048472,5116302,5187582
4615,40,09,000,00000,0,0,Connecticut,Connecticut,3574097,3574097,3576616,3586717,3590347
4900,40,10,000,00000,0,0,Delaware,Delaware,897934,897934,899824,908137,917092
5024,40,11,000,00000,0,0,District of Columbia,District of Columbia,601723,601723,604989,619020,632323
5028,40,12,000,00000,0,0,Florida,Florida,18801310,18802690,18845967,19082262,19317568
5986,40,13,000,00000,0,0,Georgia,Georgia,9687653,9687663,9714748,9812460,9919945
7433,40,15,000,00000,0,0,Hawaii,Hawaii,1360301,1360301,1364274,1378129,1392313
7442,40,16,000,00000,0,0,Idaho,Idaho,1567582,1567652,1570784,1583744,1595728
7936,40,17,000,00000,0,0,Illinois,Illinois,12830632,12830632,12840459,12859752,12875255
15301,40,18,000,00000,0,0,Indiana,Indiana,6483802,6483800,6489856,6516353,6537334
19083,40,19,000,00000,0,0,Iowa,Iowa,3046355,3046857,3050321,3064097,3074186
21246,40,20,000,00000,0,0,Kansas,Kansas,2853118,2853116,2858837,2870386,2885905
25385,40,21,000,00000,0,0,Kentucky,Kentucky,4339367,4339357,4346655,4366814,4380415
26562,40,22,000,00000,0,0,Louisiana,Louisiana,4533372,4533372,4544125,4574766,4601893
27305,40,23,000,00000,0,0,Maine,Maine,1328361,1328361,1327585,1328544,1329192
27932,40,24,000,00000,0,0,Maryland,Maryland,5773552,5773552,5787998,5839572,5884563
28296,40,25,000,00000,0,0,Massachusetts,Massachusetts,6547629,6547629,6563259,6607003,6646144
28832,40,26,000,00000,0,0,Michigan,Michigan,9883640,9883635,9877670,9876801,9883360
32521,40,27,000,00000,0,0,Minnesota,Minnesota,5303925,5303925,5310737,5347299,5379139
37979,40,28,000,00000,0,0,Mississippi,Mississippi,2967297,2967299,2969137,2977457,2984926
38758,40,29,000,00000,0,0,Missouri,Missouri,5988927,5988924,5996092,6008984,6021988
41627,40,30,000,00000,0,0,Montana,Montana,989415,989417,990735,997667,1005141
41999,40,31,000,00000,0,0,Nebraska,Nebraska,1826341,1826341,1829696,1842234,1855525
44135,40,32,000,00000,0,0,Nevada,Nevada,2700551,2700552,2703758,2720028,2758931
44201,40,33,000,00000,0,0,New Hampshire,New Hampshire,1316470,1316469,1316843,1317807,1320718
44519,40,34,000,00000,0,0,New Jersey,New Jersey,8791894,8791898,8803388,8834773,8864590
46100,40,35,000,00000,0,0,New Mexico,New Mexico,2059179,2059180,2064767,2078674,2085538
46377,40,36,000,00000,0,0,New York,New York,19378102,19378104,19399242,19501616,19570261
49866,40,37,000,00000,0,0,North Carolina,North Carolina,9535483,9535471,9559048,9651103,9752073
51226,40,38,000,00000,0,0,North Dakota,North Dakota,672591,672591,674363,684740,699628
54131,40,39,000,00000,0,0,Ohio,Ohio,11536504,11536502,11538290,11541007,11544225
59742,40,40,000,00000,0,0,Oklahoma,Oklahoma,3751351,3751354,3759482,3784163,3814820
61122,40,41,000,00000,0,0,Oregon,Oregon,3831074,3831073,3838212,3868229,3899353
61692,40,42,000,00000,0,0,Pennsylvania,Pennsylvania,12702379,12702379,12711308,12743948,12763536
67467,40,44,000,00000,0,0,Rhode Island,Rhode Island,1052567,1052567,1052769,1050646,1050292
67539,40,45,000,00000,0,0,South Carolina,South Carolina,4625364,4625364,4635835,4673348,4723723
68196,40,46,000,00000,0,0,South Dakota,South Dakota,814180,814180,816223,823593,833354
70501,40,47,000,00000,0,0,Tennessee,Tennessee,6346105,6346113,6356673,6399787,6456243
71426,40,48,000,00000,0,0,Texas,Texas,25145561,25145561,25242683,25631778,26059203
74525,40,49,000,00000,0,0,Utah,Utah,2763885,2763885,2775093,2814347,2855287
75077,40,50,000,00000,0,0,Vermont,Vermont,625741,625741,625916,626592,626011
75521,40,51,000,00000,0,0,Virginia,Virginia,8001024,8001031,8025105,8104384,8185867
76201,40,53,000,00000,0,0,Washington,Washington,6724540,6724543,6743636,6823267,6897012
76850,40,54,000,00000,0,0,West Virginia,West Virginia,1852994,1852999,1854019,1854908,1855413
77433,40,55,000,00000,0,0,Wisconsin,Wisconsin,5686986,5686986,5689591,5709843,5726398
81385,40,56,000,00000,0,0,Wyoming,Wyoming,563626,563626,564367,567356,576412

In [8]:
states = sub_est_2012_df_by_state.drop(
    ['STATE','SUMLEV','COUNTY','PLACE','COUSUB','CONCIT','STNAME','CENSUS2010POP','ESTIMATESBASE2010','POPESTIMATE2010','POPESTIMATE2011'],1
)

In [9]:
states.sort(['POPESTIMATE2012'], ascending=False)[:10]

                 NAME  POPESTIMATE2012
2847       California         38041430
71426           Texas         26059203
46377        New York         19570261
5028          Florida         19317568
7936         Illinois         12875255
61692    Pennsylvania         12763536
54131            Ohio         11544225
5986          Georgia          9919945
28832        Michigan          9883360
49866  North Carolina          9752073

In [10]:
states

                       NAME  POPESTIMATE2012
0                   Alabama          4822023
1104                 Alaska           731449
1451                Arizona          6553255
1672               Arkansas          2949131
2847             California         38041430
3924               Colorado          5187582
4615            Connecticut          3590347
4900               Delaware           917092
5024   District of Columbia           632323
5028                Florida         19317568
5986                Georgia          9919945
7433                 Hawaii          1392313
7442                  Idaho          1595728
7936               Illinois         12875255
15301               Indiana          6537334
19083                  Iowa          3074186
21246                Kansas          2885905
25385              Kentucky          4380415
26562             Louisiana          4601893
27305                 Maine          1329192
27932              Maryland          5884563
28296         Massachusetts          6646144
28832              Michigan          9883360
32521             Minnesota          5379139
37979           Mississippi          2984926
38758              Missouri          6021988
41627               Montana          1005141
41999              Nebraska          1855525
44135                Nevada          2758931
44201         New Hampshire          1320718
44519            New Jersey          8864590
46100            New Mexico          2085538
46377              New York         19570261
49866        North Carolina          9752073
51226          North Dakota           699628
54131                  Ohio         11544225
59742              Oklahoma          3814820
61122                Oregon          3899353
61692          Pennsylvania         12763536
67467          Rhode Island          1050292
67539        South Carolina          4723723
68196          South Dakota           833354
70501             Tennessee          6456243
71426                 Texas         26059203
74525                  Utah          2855287
75077               Vermont           626011
75521              Virginia          8185867
76201            Washington          6897012
76850         West Virginia          1855413
77433             Wisconsin          5726398
81385               Wyoming           576412

In [11]:
%%javascript
require.config({
    paths: {
        d3: '//cdnjs.cloudflare.com/ajax/libs/d3/3.4.8/d3.min'
    }
});

In [12]:
#import IPython.core.display 
from IPython.core.display import display, Javascript, HTML

display(HTML("""
<style>

.bar {
   fill: steelblue;
}

.bar:hover{
   fill: brown;
}

.axis {
   font: 10px sans-serif;
}

.axis path,

.axis line {
   fill: none;
   stroke: #000;
}

.x.axis path {
   display: none;
}

</style>
<div id="chart_d3" />
"""))

In [13]:
import jinja2

myTemplate = jinja2.Template("""

require(["d3"], function(d3){

   var data = []
   
   {% for row in data %}
   data.push({ 'state': '{{ row[1] }}', 'population': {{ row[2] }}  });
   {% endfor %}
   
//data.push({ 'state': 'etrwt', 'population': 19999  });
//data.push({ 'state': 'et', 'population': 39999  });
//data.push({ 'state': 'wt', 'population': 29999  });

d3.select("#chart_d3 svg").remove()

    var margin = {top: 20, right: 20, bottom: 30, left: 40},
        width = 800 - margin.left - margin.right,
        height = 400 - margin.top - margin.bottom;

    var x = d3.scale.ordinal()
        .rangeRoundBands([0, width], .25);

    var y = d3.scale.linear()
        .range([height, 0]);

    var xAxis = d3.svg.axis()
        .scale(x)
        .orient("bottom");

    var yAxis = d3.svg.axis()
        .scale(y)
        .orient("left")
        .ticks(10)
        .tickFormat(d3.format('.1s'));
        
    var svg = d3.select("#chart_d3").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    x.domain(data.map(function(d) { return d.state; }));
    y.domain([0, d3.max(data, function(d) { return d.population; })]);

    svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis);

    svg.append("g")
        .attr("class", "y axis")
        .call(yAxis)
        .append("text")
        .attr("transform", "rotate(-90)")
        .attr("y", 6)
        .attr("dy", ".71em")
        .style("text-anchor", "end")
        .text("Population");

    svg.selectAll(".bar")
        .data(data)
        .enter().append("rect")
        .attr("class", "bar")
        .attr("x", function(d) { return x(d.state); })
        .attr("width", x.rangeBand())
        .attr("y", function(d) { return y(d.population); })
        .attr("height", function(d) { return height - y(d.population); });
});
""");

In [14]:
display(Javascript(myTemplate.render(

    data=states.sort(['POPESTIMATE2012'], ascending=False)[:10].itertuples()
        
)))

In [15]:
print states.sort(['POPESTIMATE2012'], ascending=False)[:10]

                 NAME  POPESTIMATE2012
2847       California         38041430
71426           Texas         26059203
46377        New York         19570261
5028          Florida         19317568
7936         Illinois         12875255
61692    Pennsylvania         12763536
54131            Ohio         11544225
5986          Georgia          9919945
28832        Michigan          9883360
49866  North Carolina          9752073

In [16]:
%%javascript
//http://bl.ocks.org/mbostock/4060606
require.config({
    paths: {
        d3: '//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min',
        queue: '//cdnjs.cloudflare.com/ajax/libs/queue-async/1.0.7/queue.min',
        topojson: '//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.19/topojson.min'
    }
});

In [17]:
from IPython.core.display import display, Javascript, HTML

display(HTML("""
<style>

.counties {
  fill: none;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

.q0-9 { fill:rgb(247,251,255); }
.q1-9 { fill:rgb(222,235,247); }
.q2-9 { fill:rgb(198,219,239); }
.q3-9 { fill:rgb(158,202,225); }
.q4-9 { fill:rgb(107,174,214); }
.q5-9 { fill:rgb(66,146,198); }
.q6-9 { fill:rgb(33,113,181); }
.q7-9 { fill:rgb(8,81,156); }
.q8-9 { fill:rgb(8,48,107); }

</style>
<div id="choropleth" />
"""))

In [18]:
import jinja2

choropleth = jinja2.Template("""

require(["d3","queue","topojson"], function(d3,queue,topojson){

//   var data = []
   
//   {% for row in data %}
//   data.push({ 'state': '{{ row[1] }}', 'population': {{ row[2] }}  });
//   {% endfor %}
   

d3.select("#choropleth svg").remove()


var width = 960,
    height = 600;

var rateById = d3.map();

var quantize = d3.scale.quantize()
    .domain([0, .15])
    .range(d3.range(9).map(function(i) { return "q" + i + "-9"; }));

var projection = d3.geo.albersUsa()
    .scale(1280)
    .translate([width / 2, height / 2]);

var path = d3.geo.path()
    .projection(projection);

//row to modify
var svg = d3.select("#choropleth").append("svg")
    .attr("width", width)
    .attr("height", height);

queue()
    .defer(d3.json, "us.json")
    .defer(d3.tsv, "unemployment.tsv", function(d) { rateById.set(d.id, +d.rate); })
    .await(ready);

function ready(error, us) {
  if (error) throw error;

  svg.append("g")
      .attr("class", "counties")
    .selectAll("path")
      .data(topojson.feature(us, us.objects.counties).features)
    .enter().append("path")
      .attr("class", function(d) { return quantize(rateById.get(d.id)); })
      .attr("d", path);

  svg.append("path")
      .datum(topojson.mesh(us, us.objects.states, function(a, b) { return a !== b; }))
      .attr("class", "states")
      .attr("d", path);
}

// ____________________________________________________________

});

""");

In [19]:
display(Javascript(choropleth.render()))

In [20]:
sub_est_2012_df_by_county = sub_est_2012_df[sub_est_2012_df.SUMLEV == 50]
sub_est_2012_df_by_county

,SUMLEV,STATE,COUNTY,PLACE,COUSUB,CONCIT,NAME,STNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012
462,50,01,001,00000,0,0,Autauga County,Alabama,54571,54571,54634,55392,55514
468,50,01,003,00000,0,0,Baldwin County,Alabama,182265,182265,183275,186830,190790
484,50,01,005,00000,0,0,Barbour County,Alabama,27457,27457,27366,27313,27201
492,50,01,007,00000,0,0,Bibb County,Alabama,22915,22919,22863,22738,22597
499,50,01,009,00000,0,0,Blount County,Alabama,57322,57322,57359,57748,57826
516,50,01,011,00000,0,0,Bullock County,Alabama,10914,10915,10880,10599,10474
520,50,01,013,00000,0,0,Butler County,Alabama,20947,20946,20929,20598,20307
525,50,01,015,00000,0,0,Calhoun County,Alabama,118572,118572,118423,117815,117296
536,50,01,017,00000,0,0,Chambers County,Alabama,34215,34215,34125,34005,34064
544,50,01,019,00000,0,0,Cherokee County,Alabama,25989,25986,25981,26094,26021
553,50,01,021,00000,0,0,Chilton County,Alabama,43643,43642,43700,43814,43819
560,50,01,023,00000,0,0,Choctaw County,Alabama,13859,13858,13836,13629,13633
569,50,01,025,00000,0,0,Clarke County,Alabama,25833,25840,25757,25600,25161
576,50,01,027,00000,0,0,Clay County,Alabama,13932,13932,13882,13656,13435
580,50,01,029,00000,0,0,Cleburne County,Alabama,14972,14972,14962,14937,14832
586,50,01,031,00000,0,0,Coffee County,Alabama,49948,49948,50135,50485,51252
592,50,01,033,00000,0,0,Colbert County,Alabama,54428,54428,54489,54419,54446
600,50,01,035,00000,0,0,Conecuh County,Alabama,13228,13228,13195,13100,12981
606,50,01,037,00000,0,0,Coosa County,Alabama,11539,11544,11549,11109,10966
611,50,01,039,00000,0,0,Covington County,Alabama,37765,37765,37774,38094,37955
627,50,01,041,00000,0,0,Crenshaw County,Alabama,13906,13906,13867,13959,14083
635,50,01,043,00000,0,0,Cullman County,Alabama,80406,80406,80471,80479,80440
649,50,01,045,00000,0,0,Dale County,Alabama,50251,50251,50333,50141,50444
663,50,01,047,00000,0,0,Dallas County,Alabama,43820,43820,43782,43189,42864
668,50,01,049,00000,0,0,DeKalb County,Alabama,71109,71112,71108,71463,71080
687,50,01,051,00000,0,0,Elmore County,Alabama,79303,79296,79544,80149,80629
697,50,01,053,00000,0,0,Escambia County,Alabama,38319,38319,38287,38153,37994
705,50,01,055,00000,0,0,Etowah County,Alabama,104430,104430,104452,104298,104392
719,50,01,057,00000,0,0,Fayette County,Alabama,17241,17241,17219,17042,16983
727,50,01,059,00000,0,0,Franklin County,Alabama,31704,31709,31723,31786,31761
...,...,...,...,...,...,...,...,...,...,...,...,...,...
81015,50,55,129,00000,0,0,Washburn County,Wisconsin,15911,15911,15922,15768,15826
81050,50,55,131,00000,0,0,Washington County,Wisconsin,131887,131887,131943,132223,132661
81091,50,55,133,00000,0,0,Waukesha County,Wisconsin,389891,389891,390057,390701,392292
81185,50,55,135,00000,0,0,Waupaca County,Wisconsin,52410,52410,52418,52350,52131
81245,50,55,137,00000,0,0,Waushara County,Wisconsin,24496,24496,24484,24568,24461
81289,50,55,139,00000,0,0,Winnebago County,Wisconsin,166994,166994,167078,167708,168794
81325,50,55,141,00000,0,0,Wood County,Wisconsin,74749,74749,74768,74619,74424
81485,50,56,001,00000,0,0,Albany County,Wyoming,36299,36299,36422,36848,37276
81489,50,56,003,00000,0,0,Big Horn County,Wyoming,11668,11668,11680,11746,11794
81500,50,56,005,00000,0,0,Campbell County,Wyoming,46133,46133,46241,46590,47874
81504,50,56,007,00000,0,0,Carbon County,Wyoming,15885,15885,15815,15789,15666
81516,50,56,009,00000,0,0,Converse County,Wyoming,13833,13833,13825,13738,14008
81522,50,56,011,00000,0,0,Crook County,Wyoming,7083,7083,7112,7127,7155
81528,50,56,013,00000,0,0,Fremont County,Wyoming,40123,40123,40238,40575,41110
81536,50,56,015,00000,0,0,Goshen County,Wyoming,13249,13249,13412,13597,13636
81543,50,56,017,00000,0,0,Hot Springs County,Wyoming,4812,4812,4809,4808,4822
81548,50,56,019,00000,0,0,Johnson County,Wyoming,8569,8569,8566,8616,8615
81552,50,56,021,00000,0,0,Laramie County,Wyoming,91738,91738,92120,92487,94483
81558,50,56,023,00000,0,0,Lincoln County,Wyoming,18106,18106,18091,18037,17961
81569,50,56,025,00000,0,0,Natrona County,Wyoming,75450,75450,75485,76356,78621
81577,50,56,027,00000,0,0,Niobrara County,Wyoming,2484,2484,2503,2489,2456
81582,50,56,029,00000,0,0,Park County,Wyoming,28205,28205,28270,28439,28702
81588,50,56,031,00000,0,0,Platte County,Wyoming,8667,8667,8683,8716,8756
81595,50,56,033,00000,0,0,Sheridan County,Wyoming,29116,29116,29147,29260,29596
81601,50,56,035,00000,0,0,Sublette County,Wyoming,10247,10247,10230,10118,10368
81606,50,56,037,00000,0,0,Sweetwater County,Wyoming,43806,43806,43614,44078,45267
81614,50,56,039,00000,0,0,Teton County,Wyoming,21294,21294,21289,21445,21675
81617,50,56,041,00000,0,0,Uinta County,Wyoming,21118,21118,21101,20919,21025
81623,50,56,043,00000,0,0,Washakie County,Wyoming,8533,8533,8542,8469,8464
81627,50,56,045,00000,0,0,Weston County,Wyoming,7208,7208,7172,7109,7082

In [21]:
counties = sub_est_2012_df_by_county.drop(
    ['STATE','SUMLEV','COUNTY','PLACE','COUSUB','CONCIT','STNAME','CENSUS2010POP','ESTIMATESBASE2010','POPESTIMATE2010','POPESTIMATE2011'],1
)
counties.columns = ['name','pop']
counties

                     name     pop
462        Autauga County   55514
468        Baldwin County  190790
484        Barbour County   27201
492           Bibb County   22597
499         Blount County   57826
516        Bullock County   10474
520         Butler County   20307
525        Calhoun County  117296
536       Chambers County   34064
544       Cherokee County   26021
553        Chilton County   43819
560        Choctaw County   13633
569         Clarke County   25161
576           Clay County   13435
580       Cleburne County   14832
586         Coffee County   51252
592        Colbert County   54446
600        Conecuh County   12981
606          Coosa County   10966
611      Covington County   37955
627       Crenshaw County   14083
635        Cullman County   80440
649           Dale County   50444
663         Dallas County   42864
668         DeKalb County   71080
687         Elmore County   80629
697       Escambia County   37994
705         Etowah County  104392
719        Fayette County   16983
727       Franklin County   31761
...                   ...     ...
81015     Washburn County   15826
81050   Washington County  132661
81091     Waukesha County  392292
81185      Waupaca County   52131
81245     Waushara County   24461
81289    Winnebago County  168794
81325         Wood County   74424
81485       Albany County   37276
81489     Big Horn County   11794
81500     Campbell County   47874
81504       Carbon County   15666
81516     Converse County   14008
81522        Crook County    7155
81528      Fremont County   41110
81536       Goshen County   13636
81543  Hot Springs County    4822
81548      Johnson County    8615
81552      Laramie County   94483
81558      Lincoln County   17961
81569      Natrona County   78621
81577     Niobrara County    2456
81582         Park County   28702
81588       Platte County    8756
81595     Sheridan County   29596
81601     Sublette County   10368
81606   Sweetwater County   45267
81614        Teton County   21675
81617        Uinta County   21025
81623     Washakie County    8464
81627       Weston County    7082

[3143 rows x 2 columns]

In [22]:
#Rimuoviamo County dalla colonna ID
counties['name'] = counties['name'].str.replace(' County', '')
counties

              name     pop
462        Autauga   55514
468        Baldwin  190790
484        Barbour   27201
492           Bibb   22597
499         Blount   57826
516        Bullock   10474
520         Butler   20307
525        Calhoun  117296
536       Chambers   34064
544       Cherokee   26021
553        Chilton   43819
560        Choctaw   13633
569         Clarke   25161
576           Clay   13435
580       Cleburne   14832
586         Coffee   51252
592        Colbert   54446
600        Conecuh   12981
606          Coosa   10966
611      Covington   37955
627       Crenshaw   14083
635        Cullman   80440
649           Dale   50444
663         Dallas   42864
668         DeKalb   71080
687         Elmore   80629
697       Escambia   37994
705         Etowah  104392
719        Fayette   16983
727       Franklin   31761
...            ...     ...
81015     Washburn   15826
81050   Washington  132661
81091     Waukesha  392292
81185      Waupaca   52131
81245     Waushara   24461
81289    Winnebago  168794
81325         Wood   74424
81485       Albany   37276
81489     Big Horn   11794
81500     Campbell   47874
81504       Carbon   15666
81516     Converse   14008
81522        Crook    7155
81528      Fremont   41110
81536       Goshen   13636
81543  Hot Springs    4822
81548      Johnson    8615
81552      Laramie   94483
81558      Lincoln   17961
81569      Natrona   78621
81577     Niobrara    2456
81582         Park   28702
81588       Platte    8756
81595     Sheridan   29596
81601     Sublette   10368
81606   Sweetwater   45267
81614        Teton   21675
81617        Uinta   21025
81623     Washakie    8464
81627       Weston    7082

[3143 rows x 2 columns]

In [23]:
from urllib2 import urlopen

USJSONnames = pd.read_table(urlopen('http://bl.ocks.org/mbostock/raw/4090846/us-county-names.tsv'))
USJSONnames

         id                                 name
0      1000                              Alabama
1      1001                              Autauga
2      1003                              Baldwin
3      1005                              Barbour
4      1007                                 Bibb
5      1009                               Blount
6      1011                              Bullock
7      1013                               Butler
8      1015                              Calhoun
9      1017                             Chambers
10     1019                             Cherokee
11     1021                              Chilton
12     1023                              Choctaw
13     1025                               Clarke
14     1027                                 Clay
15     1029                             Cleburne
16     1031                               Coffee
17     1033                              Colbert
18     1035                              Conecuh
19     1037                                Coosa
20     1039                            Covington
21     1041                             Crenshaw
22     1043                              Cullman
23     1045                                 Dale
24     1047                               Dallas
25     1049                              De Kalb
26     1051                               Elmore
27     1053                             Escambia
28     1055                               Etowah
29     1057                              Fayette
...     ...                                  ...
3324  72143                            Vega Alta
3325  72145                            Vega Baja
3326  72147                              Vieques
3327  72149                             Villalba
3328  72151                              Yabucoa
3329  72153                                Yauco
3330  74000          U.S. Minor Outlying Islands
3331  74050                         Baker Island
3332  74100                       Howland Island
3333  74150                        Jarvis Island
3334  74200                      Johnston Island
3335  74250                         Kingman Reef
3336  74300                       Midway Islands
3337  74350                       Navassa Island
3338  74400                        Palmyra Atoll
3339  74450                          Wake Island
3340  78000  Virgin Islands of the United States
3341  78010                               Angaur
3342  78010                            St. Croix
3343  78020                             St. John
3344  78030                           St. Thomas
3345  78050                           Hatoboheit
3346  78100                             Kayangel
3347  78150                                Koror
3348  78218                          Ngarchelong
3349  78222                             Ngardmau
3350  78224                             Ngatpang
3351  78226                             Ngchesar
3352  78350                              Peleliu
3353  78370                             Sonsorol

[3354 rows x 2 columns]

In [24]:
#facciamo il merge dei due dataframe utilizzando il nome della contea
result = pd.merge(USJSONnames, counties, on='name')
result

          id         name     pop
0       1001      Autauga   55514
1       1003      Baldwin  190790
2       1003      Baldwin   46367
3      13009      Baldwin  190790
4      13009      Baldwin   46367
5       1005      Barbour   27201
6       1005      Barbour   16493
7      54001      Barbour   27201
8      54001      Barbour   16493
9       1007         Bibb   22597
10      1007         Bibb  156462
11     13021         Bibb   22597
12     13021         Bibb  156462
13      1009       Blount   57826
14      1009       Blount  124177
15     47009       Blount   57826
16     47009       Blount  124177
17      1011      Bullock   10474
18      1013       Butler   20307
19      1013       Butler   14986
20      1013       Butler   65827
21      1013       Butler   12840
22      1013       Butler   43053
23      1013       Butler    8295
24      1013       Butler  370589
25      1013       Butler  184970
26     19023       Butler   20307
27     19023       Butler   14986
28     19023       Butler   65827
29     19023       Butler   12840
...      ...          ...     ...
14680  55079    Milwaukee  955205
14681  55083       Oconto   37442
14682  55087    Outagamie  178816
14683  55089      Ozaukee   86823
14684  55091        Pepin    7390
14685  55099        Price   13869
14686  55101       Racine  194797
14687  55109    St. Croix   85242
14688  78010    St. Croix   85242
14689  55111         Sauk   62597
14690  55113       Sawyer   16581
14691  55115      Shawano   41607
14692  55117    Sheboygan  115009
14693  55121  Trempealeau   29297
14694  55125        Vilas   21338
14695  55129     Washburn   15826
14696  55133     Waukesha  392292
14697  55135      Waupaca   52131
14698  55137     Waushara   24461
14699  56009     Converse   14008
14700  56015       Goshen   13636
14701  56017  Hot Springs    4822
14702  56021      Laramie   94483
14703  56025      Natrona   78621
14704  56027     Niobrara    2456
14705  56035     Sublette   10368
14706  56037   Sweetwater   45267
14707  56041        Uinta   21025
14708  56043     Washakie    8464
14709  56045       Weston    7082

[14710 rows x 3 columns]

In [25]:
#dal merge sopra vediamo subito che c' qualcosa che non va, i campi sembrano ripetuti
# ci sono delle contee che hanno lo stesso nome.....controlliamo infatti
counties[counties['name'] == 'Baldwin']

         name     pop
468   Baldwin  190790
6545  Baldwin   46367

In [26]:
USJSONnames[USJSONnames['name'] == 'Baldwin']

        id     name
2     1003  Baldwin
399  13009  Baldwin

In [27]:
sub_est_2012_df_by_county[sub_est_2012_df_by_county['NAME'] == 'Baldwin County']

,SUMLEV,STATE,COUNTY,PLACE,COUSUB,CONCIT,NAME,STNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012
468,50,01,003,00000,0,0,Baldwin County,Alabama,182265,182265,183275,186830,190790
6545,50,13,009,00000,0,0,Baldwin County,Georgia,45720,45749,45605,44974,46367

In [28]:
#vedo che i valori che mi servono sono contenuti all'interno dei campi STATE e COUNTY, devo combinarli
result = sub_est_2012_df_by_county['STATE'].str.lstrip('0') + "" + sub_est_2012_df_by_county['COUNTY']
result

462    1001
468    1003
484    1005
492    1007
499    1009
516    1011
520    1013
525    1015
536    1017
544    1019
553    1021
560    1023
569    1025
576    1027
580    1029
...
81543    56017
81548    56019
81552    56021
81558    56023
81569    56025
81577    56027
81582    56029
81588    56031
81595    56033
81601    56035
81606    56037
81614    56039
81617    56041
81623    56043
81627    56045
Length: 3143, dtype: object

In [29]:
counties = sub_est_2012_df_by_county.drop(
    ['SUMLEV','NAME','PLACE','COUSUB','CONCIT','STNAME','CENSUS2010POP','ESTIMATESBASE2010','POPESTIMATE2010','POPESTIMATE2011'],1
)
counties['id'] = counties['STATE'].str.lstrip('0') + "" + counties['COUNTY']
del counties['STATE']
del counties['COUNTY']
counties.columns = ['pop','id']
counties = counties[['id','pop']]
counties.to_csv('population.csv')

In [30]:
from IPython.core.display import display, Javascript, HTML

display(HTML("""
<style>

.counties {
  fill: none;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

.q0-9 { fill:rgb(247,251,255); }
.q1-9 { fill:rgb(222,235,247); }
.q2-9 { fill:rgb(198,219,239); }
.q3-9 { fill:rgb(158,202,225); }
.q4-9 { fill:rgb(107,174,214); }
.q5-9 { fill:rgb(66,146,198); }
.q6-9 { fill:rgb(33,113,181); }
.q7-9 { fill:rgb(8,81,156); }
.q8-9 { fill:rgb(8,48,107); }

</style>
<div id="choropleth2" />
"""))

In [31]:
choropleth2 = jinja2.Template("""

require(["d3","queue","topojson"], function(d3,queue,topojson){

   var data = []
   
//   {% for row in data %}
//   data.push({ 'id': '{{ row[0] }}', 'pop': {{ row[2] }}  });
//   {% endfor %}
   
//id rate
//1001 .097

d3.select("#choropleth2 svg").remove()


var width = 960,
    height = 600;

var rateById = d3.map();

//modificato il domain
var quantize = d3.scale.quantize()
    .domain([0, 1000000])
    .range(d3.range(9).map(function(i) { return "q" + i + "-9"; }));

var projection = d3.geo.albersUsa()
    .scale(1280)
    .translate([width / 2, height / 2]);

var path = d3.geo.path()
    .projection(projection);

//row to modify
var svg = d3.select("#choropleth2").append("svg")
    .attr("width", width)
    .attr("height", height);

queue()
    .defer(d3.json, "us.json")
    .defer(d3.csv,"population.csv", function(d) { rateById.set(d.id, +d.pop); })
    .await(ready);

function ready(error, us) {
  if (error) throw error;

  svg.append("g")
      .attr("class", "counties")
    .selectAll("path")
      .data(topojson.feature(us, us.objects.counties).features)
    .enter().append("path")
      .attr("class", function(d) { return quantize(rateById.get(d.id)); })
      .attr("d", path);

  svg.append("path")
      .datum(topojson.mesh(us, us.objects.states, function(a, b) { return a !== b; }))
      .attr("class", "states")
      .attr("d", path);
}

// ____________________________________________________________

});

""");

In [32]:
display(Javascript(choropleth2.render(

        
)))

In [33]:
from IPython.core.display import display, Javascript, HTML

display(HTML("""
<style>

.counties {
  fill: none;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

.q0-9 { fill:rgb(247,251,255); }
.q1-9 { fill:rgb(222,235,247); }
.q2-9 { fill:rgb(198,219,239); }
.q3-9 { fill:rgb(158,202,225); }
.q4-9 { fill:rgb(107,174,214); }
.q5-9 { fill:rgb(66,146,198); }
.q6-9 { fill:rgb(33,113,181); }
.q7-9 { fill:rgb(8,81,156); }
.q8-9 { fill:rgb(8,48,107); }

</style>
<div id="choropleth3" />
"""))

In [34]:
choropleth3 = jinja2.Template("""

require(["d3","queue","topojson"], function(d3,queue,topojson){

   var data = []
   
   {% for row in data %}
   data.push({ 'id': '{{ row[1] }}', 'pop': {{ row[2] }}  });
   {% endfor %}
   
//id rate
//1001 .097

d3.select("#choropleth3 svg").remove()


var width = 960,
    height = 600;

var rateById = d3.map();

//modificato il domain
var quantize = d3.scale.quantize()
    .domain([0, 1000000])
    .range(d3.range(9).map(function(i) { return "q" + i + "-9"; }));

var projection = d3.geo.albersUsa()
    .scale(1280)
    .translate([width / 2, height / 2]);

var path = d3.geo.path()
    .projection(projection);

//row to modify
var svg = d3.select("#choropleth3").append("svg")
    .attr("width", width)
    .attr("height", height);

queue()
    .defer(d3.json, "us.json")
    //.defer(d3.csv,"population.csv", function(d) { rateById.set(d.id, +d.pop); })
    .await(ready);

function ready(error, us) {
  if (error) throw error;

  svg.append("g")
      .attr("class", "counties")
    .selectAll("path")
      .data(topojson.feature(us, us.objects.counties).features)
    .enter().append("path")
      .attr("class", function(d) { return quantize(rateById.get(d.id)); })
      .attr("d", path);

  svg.append("path")
      .datum(topojson.mesh(us, us.objects.states, function(a, b) { return a !== b; }))
      .attr("class", "states")
      .attr("d", path);
}

// ____________________________________________________________

});

""");